<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <script data-main="scripts/app" src="./scripts/require.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="preloading"></div>
  <div class="note-template">
    <li data-note-volume
        data-note-id
        data-line-id></li>
  </div>
  <div class="line-template">
    <li class='line'>
      <ul class='notes'></ul>
    </li>
  </div>
  <div class="pattern-template">
    <li ng-repeat='pattern in track.patterns'>
      <h5>
        <span class="pattern-index"></span>
        <span class="pattern-configuration"></span>
        <a href="#" class="delete-pattern">&times;</a>
      </h5>
      <div class="row">
        <div class='col-xs-3'>
          <select class='form-control subDivision' name='subDivision'>
          </select>
        </div>
        <div class='col-xs-3'>
          <select class='form-control audio' name='audio'></select>
        </div>
        <div class='col-xs-2'>
          <a href="#" class='btn btn-default add-line'>Add Line</a>
        </div>
        <div class="col-xs-4 form-inline">
          <div class="input-group pattern-tempo-wrapper">
            <a href="#" class="input-group-addon minus">-</a>
            <input type="number" class="pattern-tempo form-control" min=40 max=300 step=1 value=120 disabled>
            <a href="#" class="input-group-addon plus">+</a>
          </div>
          <div class="input-group">
            <input type="checkbox" class="custom-pattern-tempo" name="custom-pattern-tempo">
          </div>
        </div>
      </div>
      <ul class='list-unstyled pattern-lines'>
      </ul>
    </li>
  </div>
  <div class="wrapper">
    <div class="container">
      <div class="hero-unit">
        <h1>
          Drum sequencer
        </h1>
      </div>
      <div class="row" id="new-track-form">
        <div class='col-xs-2'>
          <input class='form-control track-name' type="text" placeholder='New track name'>
        </div>
        <div class='col-xs-2'>
          <a href="#" class='btn btn-default'>Create track</a>
        </div>
      </div>
      <div id="current-track">
        <h3></h3>
        <form id="new-pattern-form" class='form-inline row'>
          <div class='col-xs-2'>
            <select class='form-control' name='beat' id='beat'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4" selected>4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
            </select>  
          </div>
          <div class='col-xs-2'>
            <select class='form-control' name='noteValue' id='noteValue'>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="4" selected>4</option>
              <option value="8">8</option>
              <option value="16">16</option>
            </select>
          </div>
          <div class="col-xs-2">
            <div class="input-group track-tempo-wrapper">
              <a href="#" class="input-group-addon minus">-</a>
              <input type="number" class="track-tempo form-control" min=40 max=300 step=1 value=120 >
              <a href="#" class="input-group-addon plus">+</a>
            </div>
          </div>
          <div class="col-xs-2">
            <a href="#" class="btn btn-default create">Add pattern</a>
          </div>
        </form>
      </div>
      <ul class='list-unstyled tracks'>
        <li ng-repeat='track in tracks'>
        </li>
      </ul>
    </div>
    <ul id="track-patterns" class='list-unstyled patterns'>
    </ul>
    <div class="push"></div>
  </div> 
  <div class="play-buttons">
    <a href="#" id="start" class="btn btn-primary"><i class="fa fa-3x fa-play"></i></a>
    <a href="#" id="stop" class="btn btn-danger"><i class="fa fa-3x fa-stop"></i></a>
  </div>
</body>
</html>